<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
   
    <body bgcolor="#33FF99">
      <br>
      <div style="text-align: center" >
  
        <font color="#FF1493" size="50%">
          <B> Welcome to {{ title }}!</B> 
        </font>

      <br><br>

        <i class="fa fa-calculator" style="font-size:80px;color:red"></i>
        <!--<img width="300" alt="Calculator Logo" src="./img/A02.png"> -->
      <br><br>

        <app-math></app-math>
      
        </div>
    
      

</body>

</html>


  



